<!doctype html public "-//w3c//dtd html 3.2//en">
<html>
<!--                                      Last Update:  09-01-24
-->
<head>
<title>
Graphics Info Page - Redder Pastures
</title>
<meta charset="UTF-8">
<meta name="description" content="The Web Page Version of the book Redder Pastures">
<meta name="keywords" content="Redder Pastures, Mars, Marcus">
<meta name="author" content="Gary Schneider">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheet  for Full Screen Execution -->
    <link rel="stylesheet" href="style.css">

<script LANGUAGE="JavaScript">

<!--

var out1 = new Image( );
out1.src = "Neural.Network1.gif";
var over1 = new Image( );
over1.src = "Flaming-Skull.gif";
var down1 = new Image( );
down1.src = "MyBlueNeurons.gif";
var up1 = new Image( );
up1.src = "MyBlueSmoke.gif";

var out = new Image( );
out.src = "MatrixCube.gif";
var over = new Image( );
over.src = "matrix-man.gif";
var down = new Image( );
down.src = "Infinite.gif";
var up = new Image( );
up.src = "Digital_rain.gif";

var out2 = new Image( );
out2.src = "Chapter09-c(Static).gif";
var over2 = new Image( );
over2.src = "Chapter09-c(Dynamic).gif";
var down2 = new Image( );
down2.src = "Chapter09-c(Dynamic).gif";
var up2 = new Image( );
up2.src = "Chapter09-c(Static).gif";

var out3 = new Image( );
out3.src = "Red-Smoke.gif";
var over3 = new Image( );
over3.src = "Blue-Smoke.gif";
var down3 = new Image( );
down3.src = "Blue-Smoke.gif";
var up3 = new Image( );
up3.src = "Blue-Smoke.gif";

// -->

</script>
		
<style>
/* Popup container - can be anything - I designed a simple Popup */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* The actual popup Text & Location of Chapter Narrative */
.popup .popuptext {
	visibility: hidden;
	width: 500px;
	background-color: Black;
	color: Red;
	text-align: left;
	border-radius: 6px;
	padding: 6px 2;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 20%;
	margin-left: -10px;
}

/* Toggle this class - hide and show the popup */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}
</style>
		
<style>
	#go4it {
	overflow-x: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-size: 15px;
	}

	pre {
	overflow-x: auto;
	}

</style>

</head>
<body background="Info.Bkgrnd.P1.gif" bgcolor="black" text="red" link="blue" vlink="yellow" alink="red"  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<a name="Top"></a>

<font size="+2" color="#ff0000" face="arial">

<img src="Spacer.gif" width="10" height="22" alt="" border="">
<br>
<img src="Spacer.gif" width="20" height="1" alt="" border="">
<a href="RedderPastures.html"><img src="Return-Home.gif" width="122" height="28" alt=""></a>
<br>

<!-- <img src="Spacer.gif" width="813" height="40" alt="" border=""> -->

<table>
<!-- 
- - - - - - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - - - - - - - -   TABLE 1 - TD-1 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
 -->
<td>
<img src="Spacer.gif" width="32" height="17" alt="" border="">
<br>
</td>
</table>

<table>
<!-- 
- - - - - - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - - - - - - - -   TABLE 2 - TD-1 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
 -->
<td valign="top">
<img src="Spacer.gif" width=32" height="10" alt="" border="">
</td>
<!-- 
- - - - - - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - - - - - - - -   TABLE 2 - TD-2 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
 -->
<td>
<div style="width:1010px;overflow:auto"><pre id="go4it">Here are a few things you should know about this Flash Drive and more specifically, about the Graphics contained within this Web Page Book of Redder Pastures. You will <font color=#ffff00>NOT FIND</font> these Web Pages, otherwise known as a Web Book, on the Internet meaning you <font color=#ffff00>DO NOT NEED TO BE CONNECTED TO THE INTERNET</font> to view these Web Pages as long as you have this Flash Drive with these Web Pages, known as a Web-Book, on it and just about any device such as a Desktop, Laptop, Tablet, MAC-Book or a Smart TV that has a <a href="Web.Browsers.html"><font color=#0000ff>Web Browsers</font></a> and a USB Port, you will be able to read Redder Pastures and be able to take advantage of sounds, dynamic graphics, special effects and interactive images. So lets get started with some of the graphics you will encounter.
</pre>
</div>
</td>
</table>

<img src="Spacer.gif" width="1" height="74" alt="">
<br>
		
<table width="100%">
<!-- 
- - - - - - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - - - - - - - -   TABLE 3 - TD-1 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
 -->
<td valign="top" width="10">
<img src="Spacer.gif" width="1" height="1" alt="">
</td>
<!-- 
- - - - - - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - - - - - - - -   TABLE 3 - TD-2 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
 -->
<td valign="top" width="45%">
<p>
<img src="Spacer.gif" width="10" height="20" alt="">
<br>
<img src="Spacer.gif" width="64" height="10" alt="">
<img src="Go-FullScreen.gif" width="117" height="41" alt="">
<p>
&nbsp;
<p>
				
<!--                           Navigation Section  
-->
				
<img src="Spacer.gif" width="46" height="10" alt="">

<a name="Navigation"></a>
<IMG NAME="NavPanel0" SRC="NavPanel.gif" WIDTH="144" HEIGHT="95" BORDER="" USEMAP="#NavPanel">
<MAP NAME="NavPanel">
<AREA SHAPE="rect" COORDS="11,44,52,85" HREF="#Navigation" TITLE="..... This Button Will Take You Back One Page">
<AREA SHAPE="rect" COORDS="53,45,93,84" HREF="#Navigation" TITLE="..... This Button Takes You To The Home Page of Redder Pastures">
<AREA SHAPE="rect" COORDS="95,46,133,83" HREF="#Navigation" TITLE="..... This Button Will Take You Forward One Page">
</MAP>

<img src="Hover.gif" width="230" height="95" alt="">
				
<!--                           End Navigation Section 
-->
<p>
&nbsp;
<p>
				
<!--                           Pop-Up Section
-->
				<div class="popup" onclick="myFunction()">
					<img src="Spacer.gif" width="56" height="1" alt="">
					<img src="About.gif" width="120" height="47" title="..... Display Narrative" alt="">
					<span class="popuptext" id="myPopup">
						<img src="Spacer.gif" width="10" height="2" alt="">
						<br>
							This is the Chapter Narrative
							<p>&nbsp;<br>
							A short narrative of each Web Page can be found here.
							<br>
							The ABOUT button will toggle this narrative ON & OFF.<p>&nbsp;<br>Click the About button again to 
							turn this Narrative off.
							<p>&nbsp;<br>
						</font>
					</span>
				</div>
				<img src="Click.gif" width="214" height="47" alt="">
<script>
// When the user clicks on the about button, open the popup
function myFunction() {
	var popup = document.getElementById("myPopup");
	popup.classList.toggle("show");
}
</script>
				
<!--                           End Pop-Up Section 
-->
				<p>&nbsp;<br>
				<img src="Spacer.gif" width="30" height="1" alt="">
				<img src="Interactive.gif" width="400" height="210" alt="" border="2">
				<p>
				<img src="Spacer.gif" width="1" height="20" alt="">
				<p>
				<img src="Spacer.gif" width="30" height="1" alt="">
				</a>
				<a href="#1"
					onMouseOver = "document.mouse_area2.src = over2.src" 
					onMouseOut = "document.mouse_area2.src = out2.src" 
					onMouseDown = "document.mouse_area2.src = down2.src" 
					onMouseUp = "document.mouse_area2.src = up2.src">
					<img name="mouse_area2" src="Chapter09-c(Static).gif" width="400" height="196" alt="" border="2"></a>
				<a name="1">
				<p>
			</td>
<!-- 
- - - - - - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - - - - - - - -   TABLE 3 - TD-3 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
 -->
			<td width="113" valign="top>
			<img src="Spacer.gif" width="5" height="100" alt="" border="2">
			<img src="spacer.gif" width="64" height="100" alt="" border="2">
			</td>
<!-- 
- - - - - - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - - - - - - - -   TABLE 3 - TD-4 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
 -->
			<td width="412" valign="top>
				<img src="Spacer.gif" width="1" height="5" alt="">
				<br>
				<a href="#Top2"
					onMouseOver = "document.mouse_area1.src = over1.src" 
					onMouseOut = "document.mouse_area1.src = out1.src" 
					onMouseDown = "document.mouse_area1.src = down1.src" 
					onMouseUp = "document.mouse_area1.src = up1.src">
					<img name="mouse_area1" src="Neural.Network1.gif" width="200" height="200" border="2" alt=""></a>

				<a href="#Top2"
					onMouseOver = "document.mouse_area.src = over.src" 
					onMouseOut = "document.mouse_area.src = out.src" 
					onMouseDown = "document.mouse_area.src = down.src" 
					onMouseUp = "document.mouse_area.src = up.src">
					 <img name="mouse_area" src="MatrixCube.gif" width="200" height="200" border="2" alt=""></a>
		<br>
		<img src="Mouse-Modes.gif" width="412" height="95" alt="">
		<p>
		<img src="Dynamic2.gif" width="412" height="291" alt="">
		<p>
</td>
</table>
<img src="Spacer.gif" width="1" height="5" alt=""border="2">
<br>
<img src="Spacer.gif" width="739" height="56" alt="">
<audio src="500.Miles.mp3" controls></audio>
<br>
<img src="Spacer.gif" width="5" height="44" alt="">
<br>
<center><img src="AnimatedEyes2.gif" width="584" height="24" title="..... I see what you did and know what you've doing - Ha! Ha! Ha!" alt=""></center>
<br>
<img src="Spacer.gif" width="18" height="3" alt="">
<br>
<img src="Spacer.gif" width="18" height="1" alt="">

<a href="#Top2" 
	onMouseOver = "document.mouse_area3.src = over3.src" 
	onMouseOut = "document.mouse_area3.src = out3.src" 
	onMouseDown = "document.mouse_area3.src = down3.src" 
	onMouseUp = "document.mouse_area3.src = up3.src">
	<img name="mouse_area3" src="Red-Smoke.gif" width="1035" height="168" alt="" border="3></a>

<p>
<img src="Spacer.gif" width="40" height="45" alt="" border="2">
<br>
<center>
<a href="RedderPastures.html"><img src="Info-Home2.gif" width="80" height="80" title="..... Return to Redder Pastures Home Page" alt=""></a>
<img src="Spacer.gif" width="20" height="1" alt="">
<a href="#Top"><img src="To-Top.gif" width="80" height="80" alt=""></a>
</center>
<p>
<img src="Spacer.gif" width="1" height="25" alt="">
<br>
<p>
</font>
</body>
</html>
